---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
  <Header />
  <div class="max-w-screen-lg mx-auto p-4">
    <h1 class="text-xl fron-bold">Contact us</h1>
    <p>
      Si tiene alguna pregunta o necesita ayuda con nuestros servicios, no dude
      en contactarnos. Puede comunicarse con nosotros por teléfono, correo
      electrónico o completando el formulario a continuación.
    </p>
    <div class="mt-4">
      <form action="#" method="post">
        <div class="mb-4">
          <label for="name" class="block font-medium">Nombre</label>
          <input
            type="text"
            id="name"
            name="name"
            class="w-full p-2 border border-gray-200 rounded-lg"
          />
        </div>
        <div class="mb-4">
          <label for="email" class="block font-medium">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="w-full p-2 border border-gray-200 rounded-lg"
          />
        </div>
        <div class="mb-4">
          <label for="message" class="block font-medium">Mensaje</label>
          <textarea
            id="message"
            name="message"
            class="w-full p-2 border border-gray-200 rounded-lg"></textarea>
        </div>
        <button
          type="submit"
          class="bg-blue-500 text-white px-4 py-2 rounded-lg"
        >
          Enviar
        </button>
      </form>
      <div>
        <h2 class="text-lg font-bold mt-8">Informacion de Contacto</h2>
        <p>
          <strong>Horario de Atencion:</strong> Lunes a Viernes de 8am a 5pm
        </p>
        <p>
          <strong>Direccion:</strong> Calle 123, Bogota, Colombia
        </p>
        <p>
          <strong>Celular:</strong> +57 304 6415200
        </p>
        <p>
          <strong>Email:</strong>
        </p>
      </div>
    </div>
  </div>
</Layout>
