---
import "~/styles/global.css";
import Layout from "~/layouts/Layout.astro";
import Header from "@components/Header.astro";
import Splash from "@components/Splash.astro";
import AboutUs from "@components/AboutUs.astro";
import Services from "@components/Services.astro";
import Clients from "@components/Clients.astro";
import Contact from "@components/Contact.astro";
import Footer from "@components/Footer.astro";
---

<Layout>
  <Header />
  <Splash />
  <div class="space-y-24 px-8 py-32">
    <AboutUs />
    <Services />
    <Clients />
    <Contact />
  </div>
  <Footer />
</Layout>
