---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
  <Header />
  <div class="max-w-screen-lg mx-auto p-4">
    <h1 class="text-xl fron-bold">Nuestros Servicios</h1>
    <p>
      Ofrecemos una amplia gama de servicios para ayudarlo con sus necesidades
      industriales. Nuestros servicios incluyen:
    </p>
    <ul class="list-disc list-inside mt-4">
      <li>Matenimiento Industrial</li>
      <li>Soporte Tecnico</li>
      <li>Asesoria en Maquinaria</li>
      <li>Instalacion en Sitio</li>
    </ul>
  </div>
</Layout>
