---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/ContentSection.astro";
---

<ContentSection title="ST Industrial" id="about_us">
  <Icon slot="eyebrow" name="logomark" class="size-32" />
  <Fragment slot="lead">
    Somos una empresa especializada en el mantenimiento y reparación de
    maquinaria para centros de diagnostico automotriz<span class="text-primary"
      >(CDA's)</span
    >. Garantizando el funcionamiento<span class="text-primary">optimo</span>
    de sus equipos mediante la oferta de soluciones integrales y <span
      class="text-primary">personalizadas</span
    > a nuestros clientes.
  </Fragment>
  <!-- <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <span>Read the docs</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <span>Try it out</span>
    </a>
  </div> -->
</ContentSection>
