---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import ContentSection from "@components/ContentSection.astro";

import cdaBog from "~/assets/clients/cda_bog.png";
import cdaCap from "~/assets/clients/cda_cap.png";

const featuredSites = await getCollection("clients");
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!
);
---

<ContentSection title="Clientes" id="clients">
  <Fragment slot="lead">
    Algunos de nuestros clientes nos prefieren por <span class="text-primary"
      >versatilidad</span
    >.{" "}
    <span class="text-secondary">Calidad</span> de nuestra mano de obra y{" "}
    <span class="text-primary">Transparencia</span>.
  </Fragment>
  <div class="max-w-6xl space-y-2 flex flex-row gap-4">
    <Image
      class="h-24 w-24 object-contain"
      src={cdaBog}
      alt="CDA Bogota"
      loading="lazy"
      width={100}
      height={100}
    />
    <Image
      class="h-24 w-24 object-contain"
      src={cdaCap}
      alt="CDA Cap"
      loading="lazy"
      width={100}
      height={100}
    />
  </div>
</ContentSection>
