---
const currentYear = new Date().getFullYear();
---

<footer class="relative flex h-24 items-center justify-center bg-gray-300">
  <div>
    Copyright &copy; {currentYear} ST Industrial. Todos los derechos reservados.
    <br />
  </div>
</footer>
