---
interface Props {
  title: string;
  active: boolean;
  path?: string;
}

const { title, active, path } = Astro.props;
---

<li>
  <a
    href={path}
    class={`block py-2 px-3 ${active ? "text-blue-700" : "text-gray-900"} rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0`}
    aria-current="page">{title}</a
  >
</li>
