---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import inspectorImage from "~/assets/inspector.png";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-black">
  <div class="relative grid h-full place-items-center sm:grid-cols-2">
    <h2
      class="flex flex-col items-center gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <Icon name="logomark" class="size-20 text-white md:size-32" />
      <div
        class="gradient-text text-center text-white font-extrabold tracking-tighter text-6xl md:text-8xl"
      >
        ST Industrial
        <br />
        <span class="text-primary">Mantenimiento</span>,
        <br />
        <span class="text-secondary">Reparaciones.</span>
      </div>
    </h2>
    <div
      class="w-2/3 max-w-3xl self-start sm:w-10/12 sm:self-auto sm:justify-self-start"
    >
      <Image
        class="h-full w-full object-cover"
        src={inspectorImage}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="A floating inspector"
      />
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }
</style>
